    /*
    Flaticon icon font: Flaticon
    Creation date: 12/06/2018 09:06
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-volkswagen:before { content: "\f100"; }
.flaticon-002-car:before { content: "\f101"; }
.flaticon-003-train-1:before { content: "\f102"; }
.flaticon-004-train:before { content: "\f103"; }
.flaticon-005-vehicle:before { content: "\f104"; }
.flaticon-006-school-bus:before { content: "\f105"; }
.flaticon-007-pickup-truck:before { content: "\f106"; }
.flaticon-008-truck-2:before { content: "\f107"; }
.flaticon-009-motorcycle:before { content: "\f108"; }
.flaticon-010-monster-truck:before { content: "\f109"; }
.flaticon-011-mini-van:before { content: "\f10a"; }
.flaticon-012-truck-1:before { content: "\f10b"; }
.flaticon-013-jeep:before { content: "\f10c"; }
.flaticon-014-helicopter:before { content: "\f10d"; }
.flaticon-015-truck:before { content: "\f10e"; }
.flaticon-016-golf-cart:before { content: "\f10f"; }
.flaticon-017-fire-truck:before { content: "\f110"; }
.flaticon-018-electric-car:before { content: "\f111"; }
.flaticon-019-dump-truck:before { content: "\f112"; }
.flaticon-020-cruise:before { content: "\f113"; }
.flaticon-021-taxi:before { content: "\f114"; }
.flaticon-022-classic-car:before { content: "\f115"; }
.flaticon-023-cable-car-1:before { content: "\f116"; }
.flaticon-024-cable-car:before { content: "\f117"; }
.flaticon-025-bus:before { content: "\f118"; }
.flaticon-026-hot-air-balloon:before { content: "\f119"; }
.flaticon-027-quad:before { content: "\f11a"; }
.flaticon-028-ambulance:before { content: "\f11b"; }
.flaticon-029-plane:before { content: "\f11c"; }
.flaticon-030-automobile:before { content: "\f11d"; }
    
    $font-Flaticon-001-volkswagen: "\f100";
    $font-Flaticon-002-car: "\f101";
    $font-Flaticon-003-train-1: "\f102";
    $font-Flaticon-004-train: "\f103";
    $font-Flaticon-005-vehicle: "\f104";
    $font-Flaticon-006-school-bus: "\f105";
    $font-Flaticon-007-pickup-truck: "\f106";
    $font-Flaticon-008-truck-2: "\f107";
    $font-Flaticon-009-motorcycle: "\f108";
    $font-Flaticon-010-monster-truck: "\f109";
    $font-Flaticon-011-mini-van: "\f10a";
    $font-Flaticon-012-truck-1: "\f10b";
    $font-Flaticon-013-jeep: "\f10c";
    $font-Flaticon-014-helicopter: "\f10d";
    $font-Flaticon-015-truck: "\f10e";
    $font-Flaticon-016-golf-cart: "\f10f";
    $font-Flaticon-017-fire-truck: "\f110";
    $font-Flaticon-018-electric-car: "\f111";
    $font-Flaticon-019-dump-truck: "\f112";
    $font-Flaticon-020-cruise: "\f113";
    $font-Flaticon-021-taxi: "\f114";
    $font-Flaticon-022-classic-car: "\f115";
    $font-Flaticon-023-cable-car-1: "\f116";
    $font-Flaticon-024-cable-car: "\f117";
    $font-Flaticon-025-bus: "\f118";
    $font-Flaticon-026-hot-air-balloon: "\f119";
    $font-Flaticon-027-quad: "\f11a";
    $font-Flaticon-028-ambulance: "\f11b";
    $font-Flaticon-029-plane: "\f11c";
    $font-Flaticon-030-automobile: "\f11d";